<div>
  <h1><%= name %></h1>
  <p><strong>Drink:</strong> <%= drink %></p>
  <p><strong>Rug:</strong> <%= rug %></p>
</div>

<div style="border-top: 1px solid #ccc;">
  <p>For more information on on ejs:</p>
  <p><a href="http://www.embeddedjs.com/">http://www.embeddedjs.com/</a></p>
</div>
